<div class="layout layout--row">
  <div class="columns">
    {% render "top_column", index: IDX_0, height: 380 %}
  </div><div class="columns">
    {% render "top_column", index: IDX_1, height: 380 %}
  </div><div class="columns">
    {% render "top_column", index: IDX_2, height: 380 %}
  </div>
</div>
{% render "title_bar", trmnl: trmnl %}
